<div class="form-card">
  <h2>NEW IMAGE</h2>
  <form [formGroup]="imageForm">
    <div class="form-group">
      <label for="title">Titre</label>
      <input id="title" type="text" formControlName="title" />
    </div>
    <div class="form-group">
      <label for="imageUrl">URL de l'image</label>
      <input id="imageUrl" type="text" formControlName="imageUrl" />
    </div>
    <div class="form-group">
      <label for="location">Lieu</label>
      <input id="location" type="text" formControlName="location" />
    </div>
    <div class="action-buttons">
      <button type="submit" class="action-buttons" (click)="onSubmit()" [disabled]="imageForm.invalid">Enregistrer</button>
    </div>
  </form>
</div>

<div class="face-snap-card" *ngIf="imagePreview$ | async as image">
  <h2>{{ image.title | uppercase }}</h2>
    <p>Mis en ligne {{ image.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <img [src]="image.imageUrl" [alt]="image.title">
    <p *ngIf="image.location">Photo prise à {{ image.location }}</p>
</div>
